- provide :title, '記事一覧'

%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Published at
      %th Author
      %th

  %tbody
    - @posts.published.each do |post|
      %tr
        %td= post.title
        %td= post.published_at
        %td= post.author_id
        %td= link_to 'Show', post

%br
