%p#notice= notice

%h1
  = @post.title

%p
  %b Body: 
  %br= raw @body
// %p
//   %b Published at:
//   = @post.published_at
// %p
//   %b Author:
//   = @post.author_id
// %p
//   %b Slug:
//   = @post.slug

= link_to 'Back', posts_path
