<% provide(:title, @title) %>
<% provide(:desc, 'このサイトのページ一覧です。特別なページなどは含まれていない場合もあります。') %>
<% provide(:url, request.url) %>
<div class="docs-list">
  <ul>
    <% @pages.each do |page| %>
      <li><%= link_to page.title, page.url %></li>
    <% end %>
  </ul>
</div>