<% provide(:title, '404 Not Found') %>
<% provide(:desc, 'The requested page could not be found.') %>

<div>
  <h1>The requested page could not be found.</h1>
  <p>You may have mistyped the address or the page may have moved.</p>
</div>
<p>If you are the application owner check the logs for more information.</p>
<div>
  <h1>ページが見つかりません。</h1>
  <p>アドレスを誤って入力したか、ページが移動した可能性があります。今一度、ご確認ください...</p>
</div>
<p>もし、これがおかしいと思われる場合は、アプリケーション所有者にご連絡ください。</p>