.box.box-default
  .box-header.with-border
    %h3.box-title 新規作成
    .box-tools.pull-right
      %a{:href => admin_posts_path}
        %button.btn.btn-box-tool.btn.btn-box-tool{:type => "button", :data-widget => "collapse"}
          Back
  .box-body
    = render 'form'
