// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pages-layout {
    .pages-layout__header {
        background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), image-url('coderdojo-konan-header-image-1-min.jpg');
        background-size: cover;
    	background-position: center;
        .mdl-layout__header-row {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    article {
        margin: 0.5rem;
        #pages-section {
          padding: 0.8rem;
          .pages-section-card {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
          }
        }
        .pages-section {
          padding: 0.8rem;
          .pages-section-card {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
          }
        }
    }
    .mdl-layout__content {
        #pages-section {
            .docs-list {
                ul {
                    font-size: 1.5rem;
                }
            }
        }
        .pages-contents {
            h1 {
                font-size: 2.3rem;
                color: black;
            }
            h2 {
                font-size: 2.0rem;
                color: black;
            }
            h3 {
                font-size: 1.8rem;
                color: black;
            }
            h4 {
                font-size: 1.5rem;
                color: black;
            }
            p {
                font-size: 1rem;
            }
            .pages-col {
                display: inline-block;
                vertical-align: middle;
                margin: 1rem;
            }

            .ninjas-works-impressions {
                width: 100%;
                padding: 0.5rem;
                background: aliceblue;
                -webkit-box-shadow: 2px 2px 0px 0px #777;
                -moz-box-shadow: 2px 2px 0px 0px #777;
                box-shadow: 2px 2px 0px 0px #777;
                border-radius: 10px;
                p {
                    color: black;
                }
                .ninjas-works-container {
                    padding: 0.8rem;
                    width: 100%;
                    height: 100%;
                    .pages-col {
                        display: inline-block;
                        padding: 0.5rem;
                    }
                    img {
                        margin: auto;
                        border-radius: 50%;
                        width: 5rem;
                        height: 5rem;
                    }
                    .ninjas-icon {
                        p {
                            text-align: center;
                            margin: 0.1rem;
                        }
                    }
                }
            }
        }
    }
}